.test {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1919;
    padding-top: 200px;

}

.test2{
    color: white;
    text-align: center;
    padding-top: 200px;
}