@import './../Styles/index.scss';

.container2 {
background-color: white;
max-width: 90%;
margin: 0 auto;
padding: 20px;
margin-top: 5%;
display: flex;
max-height: 80%;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

&_title{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #733412;
      margin-top: 30px;
      margin-left: 75%;
  
}

&_product {
    position: block;
 }

 &_description {
   padding-left: 35px;

 }
 &_details{
   color: #ca914e;
 }

 &_line {
    color: black;
 }

 &_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
 }

 &_text{
      font-weight: bold;
      margin-bottom: 20px;
 }
}

.container {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 500px;
   height: 300px;
   background: #f1f1f1;
   margin: 100px auto 0;
   word-break: break-all;
   border: 1px solid rgba(0, 0, 0, 0.274);
 }
 
 .bloc-tabs {
   display: flex;
 }
 .tabs {
   white-space: nowrap;
   padding: 15px;
   text-align: center;
   width: 50%;
   background: rgba(128, 128, 128, 0.075);
   cursor: pointer;
   border-bottom: 1px solid rgba(0, 0, 0, 0.274);
   box-sizing: content-box;
   position: relative;
   outline: none;
 }
 .tabs:not(:last-child){
   border-right: 1px solid rgba(0, 0, 0, 0.274);
 }
 
 .active-tabs  {
   background: white;
   border-bottom: 1px solid transparent;
 }
 
 .active-tabs::before {
   content: "";
   display: block;
   position: absolute;
   top: -5px;
   left: 50%;
   transform: translateX(-50%);
   width: calc(100% + 2px);
   height: 5px;
   background: #ca914e;
 }
 
 
 
 button {
   border: none;
   
 }
 .content-tabs {
   flex-grow : 1;
 }
 .content {
   background: white;
   padding: 20px;
   width: 100%;
   height: 100%;
   display: none;
 }
 .content h2 {
   padding: 0px 0 5px 0px;
 }
 .content hr {
   width: 100px;
   height: 2px;
   background: #222;
   margin-bottom: 5px;
 }
 .content p {
   width: 100%;
   height: 100%;
 }
 .active-content {
   display: block;
 }