@import './../Styles/index.scss';

.contact {
background-color: white;
max-width: 50%;
height: 400px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-bottom: 85px;
margin:150px auto;

&_title {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    background-color: black;
    color: white;
}
&_container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
&_name{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}
&_message{
    display: flex;
    justify-content: center;
}
&_send{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 57%;
    &:focus{
        outline: none;
}
}
&_input{
    border-top: none;
    border-left: none;
    border-right: none;
    &:focus{
        outline: none;
    }
}
    &_section{
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
    &_submit{
        padding: 7px 20px;
        font-size: 20px;  
        border-radius: 5px;
        background-color: black;
        box-shadow: inset 0 0 0 1px black;
        color: white;
        border: none;
        transition: ease-in 0.5s;
        transition: ease-in-out 0.5s;
        &:hover{
            box-shadow: inset 300px 0 0 0 #ca914e;
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }
        
    }
}

@media (max-width: 1024px) {
    .contact {
        max-width: 90%;

    &_row {
        padding-bottom: 10px;
    }

    &_container {
        flex-direction: column;
        align-items: center;
    }
    &_display {
        padding-top: 10px;
    }
    &_section {
        margin-top: 50px;
    }
    &_send {
        width: 170px;
    }
}
}