@import './../Styles/index.scss';

.iconContact{
  background-color: white !important;
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.iconContact .layer{
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
.iconContact:hover .layer{
  background-color: white !important;
  transform: rotate(-35deg) skew(20deg);
}
.iconContact .layer span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.iconContact .layer span.fab{
  font-size: 30px;
  text-align: center;
}
.iconContact:hover .layer span:nth-child(1){
  opacity: 0.2;
}
.iconContact:hover .layer span:nth-child(2){
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.iconContact:hover .layer span:nth-child(3){
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.iconContact:hover .layer span:nth-child(4){
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.iconContact:hover .layer span:nth-child(5){
  opacity: 1;
  transform: translate(20px, -20px);
}
.iconContact:nth-child(1) .layer span,
.iconContact:nth-child(1) .text{
  color: #332717;
  border-color: #332717;
}
.iconContact:hover:nth-child(1) .layer span{
  box-shadow: -1px 1px 3px #332717;
}
.iconContact .text{
  position: absolute;
  left: 50%;
  margin-bottom: 10px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.iconContact:hover .text{
  bottom: -35px;
  opacity: 1;
}
.name{
  background-color: #332717;
  width:120px;
  color: white;
  height: 2em; 
  cursor: pointer;
  overflow:hidden;
}
.name:hover{
  overflow: visible; 
  white-space: normal; 
}
.arrow {
  position: relative;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 7px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav_container {
    width: 98%;
    background-color: #ffffff; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    margin: 0 auto 0 auto;
  }
.nav {
    height: 50px;
  }
 .nav_bar {
    height: 50px;
    padding: 0;
    margin: 0;
  }
  .nav_bar li {
    height: auto;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #332717;
}
  .nav_bar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
  }
  .nav_bar li:hover,
  a:hover {
    background-color: #E2CBAC;
    color: black;
  }
  .nav_bar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .nav_bar li:hover ul {
    display: block;
  }
  .nav_bar li ul li {
    background-color: #332717;
    
}
  .nav_bar li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
  }
  .nav_bar li ul li a:hover {
    background-color: #E2CBAC;
    color: black;
  }
  .logo {
    max-width: 20%;
  
  &_img {
    padding-left: 15px;
    width: 100%;
  }
  }