@import './../Styles/index.scss';
/* Pour le Header */
.wrapper{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #e7e7e9;
}

.wrapper_menu{
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.wrapper_container{
	text-align: center;
	position: relative;
	display: flex;
	height: 70px;
	justify-content: space-between;
	top: 0;
	right: 0;
	border-radius: 10px 0 0 10px;

}

.wrapper_menu ul li{
	display: inline-block;
	margin: 0 15px;
	padding: 0 15px;
}

.wrapper_menu ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 12px;
	display: block;
}

.wrapper_menu ul li:hover a{
	color: #ca914e;
}

.wrapper_img{
  width: 90%;

}
.wrapper_logo{
	width: 14%;
  }

@media (max-width: 1024px) {
	.wrapper_container {
		flex-direction: column;
		align-items: center;
		background-color: black;
		height: 200px;
		position: absolute;
	}
	.wrapper_links {
		display: block;
	}
	.wrapper_link{
		color: white !important;
		padding-bottom: 15px;
	}
	.wrapper_menu {
		position: fixed;
		display: flex;
		justify-content: center;	
}
	
	.logo_menu{
		width: 40%;
	}

}
  
 